@model StreetFighter.Web.Models.CadastroModel
@{
    ViewBag.Title = "Detalhe";
}

<h2>Detalhe</h2>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detalhe</title>
</head>
<body>
    <div>
        <hr />

        <dl class="dl-horizontal">

            <dt>
                @Html.DisplayNameFor(model => model.Imagem)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nome)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DataNascimento)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Altura)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Peso)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Origem)
            </dd>

            <dt>
                @Html.DisplayFor(model => model.GolpesEspeciais)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Oculto)
            </dd>

            

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>