@model StreetFighter.Web.Models.FichaTecnicaModel
@{
    ViewBag.Title = "FichaTecnica";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

       <div class="corpo">
            <h1 id="ficha-tecnica">Blanka</h1>

            <table>
                <tr>
                    <td>
                        <img src="imagens/blanka.png" alt="Imagem-blanca" />
                    </td>

                    <td>
                        <p> <strong>Primeira aparição:</strong> @Model.PrimeiraAparicao </p>
                        <p> <strong>Nascimento:</strong> @Model.DataNascimento</p>
                        <p> <strong>Altura:</strong> @Model.Altura cm. </p>
                        <p> <strong>Peso:</strong> @Model.Peso kg. </p>
                        <p> <strong>Medidas:</strong>@Model.Medidas  </p>
                        <p> <strong>Tipo sanguíneo:</strong> @Model.TipoSanguineo </p>
                        <p> <strong>Habilidades especiais:</strong>@Model.HabilidadesEspeciais </p>
                        <p> <strong>Gosta:</strong> @Model.Gosta </p>
                        <p> <strong>Desgosta:</strong> @Model.desgosta </p>
                        <p> <strong>Estilo de luta:</strong> @Model.EstiloDeLuta </p>
                        <p> <strong>Origem:</strong> @Model.Origem </p>
                        <p> <strong>Uma fala de vitória:</strong>@Model.FalaDeVitoria </p>
                        <p> <strong>SSF2 nickname:</strong> @Model.SSF2Nickname </p>
                        <p> <strong>SFA3 nickname:</strong>@Model.SFA3Nickname </p>
                        <p> <strong>SF4 nickname:</strong> @Model.SF4Nickname </p>
                        <p> <strong>SFA3 stage:</strong> @Model.SFA3Stage</p>
                        <p> <strong>SF2 stage:</strong> @Model.SF2Stage </p>
                        <p> <strong>Golpes especiais famosos:</strong>@Model.GolpesEspeciaisFamosos</p>
                        
                    </td>
                </tr>

            </table>





        </div>

    </div>
